{%load staticfiles%}
{% load i18n %}
<title>HomeCloud File {% trans 'Settings'%}</title>
<link rel="icon" href="{% static 'File/images/icons/faviconFile.ico' %}" type="image/x-icon">
<link href="{% static 'File/styles/edit.css' %}" rel="stylesheet" type="text/css" />
{% include "./blocks/header.html" %}

<form id=content method="POST" enctype="multipart/form-data">
    
    <h3>{% trans 'Editing Group'%}</h3>
    {% csrf_token %}
    <div>
        <span>{% trans 'Name:'%}</span>
        <input type="text" required name="groupname" value="{{name}}">
        <input type="hidden" name="firstname" value="{{name}}">
        <span>{% trans 'Type:'%}</span>
        <select name="type">
            <option
            {% if type == "file" %}
            selected
            {% endif %}
                 value="file">{% trans 'File'%}</option>
            <option {% if type == "pic" %}
            selected
            {% endif %} value="pic">{% trans 'Picture'%}</option>
            <option {% if type == "text" %}
            selected
            {% endif %} value="text">{% trans 'Text'%}</option>
        </select>
    </div>
    <div id="icon">
        <span>Icon:</span>
        <div>
            <img id=previewicon src="{% if icon %}{% static icon %}{% else %}{% static 'File/images/file.png' %}{% endif %}">
            {{forms}}
        </div>
            
    </div>
    <div>
        <span>{% trans 'Formats:'%}</span>
        <div id= addformat>
            <input id=formatfield type="text">
            <span onclick="addformat()">{% trans 'Add'%}</span>
        </div>
        <div id=formatlist>
            {% for i in formats %}
                <div id={{i}}>
                    {{i}}
                    <span onclick="delformat(this)">x</span>
                </div>
                
            {% endfor %}
        </div>
    </div>
    <div id=panel>
        <input id=send type="submit" value="Save" onclick="Save()">
        <a href=".">{% trans 'Back'%}</a>
    </div>
    <input name=formatlists id=sendlist type="hidden">
</form>

<script>
    function handleFile(e){
        if (!e.target.files[0].type.match('image.*')) {
            alert("{% trans 'Image only please....'%}");
            fileicon.value=""
            return;
        }
        var reader = new FileReader();
        reader.onload = (function(theFile) {return function(ev) {previewicon.src=ev.target.result}})(e.target.files[0]);
        reader.readAsDataURL(e.target.files[0]);
    }
    fileicon.addEventListener('change', handleFile, false);
    function addformat(){
        if (!formatlist.children[formatfield.value.toUpperCase()] && formatfield.value.length!=0)
            formatlist.innerHTML+='<div id='+formatfield.value.toUpperCase()+'>'+formatfield.value.toUpperCase()+'<span onclick=\"delformat(this)\">x</span></div>';
        formatfield.value='';
        check()
    }
    function delformat(elem){
        elem.parentNode.remove()
        check()
    }
    function check(){
        send.disabled=formatlist.children.length==0;
    }
    function Save(){
        formats=[]
        for (var i= 0; i<formatlist.children.length;i++)
            formats[i]=formatlist.children[i].id;
        sendlist.value=JSON.stringify(formats)
        
        content.action="./save";
    }
    check()
</script>
