{%load staticfiles%}
{% load i18n %}
<title>HomeCloud File {% trans 'Settings'%}</title>
<link rel="icon" href="{% static 'File/images/icons/faviconFile.ico' %}" type="image/x-icon">
<link href="{% static 'File/styles/settings.css' %}" rel="stylesheet" type="text/css" />
{% include "./blocks/header.html" %}

<div id=content>
    <a class="row" href="./edit">
        <img src="{% static 'File/images/add.png' %}" />
        <span>
                {% trans 'Add new group'%}
        </span>
    </a>
    {% for i in config %}
    <div>
        <a class="row" href="./edit{{i.name}}">
            <img src="{% static i.icon %}" />
            <span>
                {{i.name}}
            </span>
        </a>
        <a class="del" href="./del{{i.name}}">{% trans 'Delete'%}</a>
    </div>
    {% endfor %}
</div>