{%load staticfiles%}
{% load i18n %}

<link href="{% static 'blocks/back.css' %}" rel="stylesheet" type="text/css"/>

{% if filename%}
    <style>
        .Back:hover{  
            background-color: #63cdda
        }
    </style>
    <a class=Back href="{{host}}/file/explorer{{path}}">
        <img src="{% static 'images/back.png' %}" style="width:25px;" ><span class=SpanBack>{% trans "Back" %}</span>
    </a>
{% else %}
    <style>
        .Back:hover{
            background-color: #fff
        }
    </style>
    <a class=Back href="{{host}}/file/back{{path}}">
        <img src="{% static 'images/back.png' %}" style="width:25px;" ><span class=SpanBack>{% trans "Back" %}</span>
    </a>
{% endif%}