{%load staticfiles%}

<style>
    .Back{
        text-decoration: none;
        color: black;
        padding: 5px;
        transition: all 0.7s ease;
        display: flex;
        align-items: center;
        height: 30px;
        max-height: 30px;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
    }
    
    .SpanBack{
        margin-left: 10px;
        font-size: 20px;
    }

</style>
{% if filename%}
    <style>
        .Back:hover{  
            background-color: #63cdda
        }
    </style>
    <a class=Back href="{{host}}/file/explorer{{path}}">
        <img src="{% static 'images/back.png' %}" style="width:25px;" ><span class=SpanBack>Back</span>
    </a>
{% else %}
    <style>
        .Back:hover{
            background-color: #fff
        }
    </style>
    <a class=Back href="{{host}}/file/back{{path}}">
        <img src="{% static 'images/back.png' %}" style="width:25px;" ><span class=SpanBack>Back</span>
    </a>
{% endif%}