<style>
    #DelModal{
        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0;
        z-index: -100;
    }
    .window{
        display: grid;
        grid-template-columns: auto auto 40px;
        grid-template-rows: 50px auto 60px;
        grid-template-areas: 
            "Header Header close"
            "path path path"
            "panel panel panel";
        background-color:white;
        opacity: 1;
        min-width: 200px;
        min-height: 200px;
        margin: 10% 20%;
        border-radius: 3px;
    }
    .header{
        padding: 10px;
        background-color: #e15f41;
        grid-area: Header;
        font-size: 25px;
        color: white;
        border-bottom: lightgrey 0.5px solid;
    }
    #DelPath{
        grid-area: path;
        padding: 10px;
        padding-top: 20px;
    }
    .close{
        grid-area: close;
        margin:auto;
        padding: 10px;
        font-size: 25px;
        transition: all 200ms ease;
    }
    .close:hover{
        background-color: #63cdda;
        border-radius: 3px;
        cursor: pointer;
    }
    #ModalPanel{
        padding: 10px;
        grid-area: panel;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    
    }
    .btn{
        padding:10px 35px;
        cursor: pointer;
        transition: all 200ms ease;
    }
    .btnyes{
       background-color: #e15f41;
       color: white;
    }
    .btn:hover{
        background-color: #63cdda;
        border-radius: 3px;
    }
    .btnno{
       background-color: white;
    }
    
    </style>
    <script>
        function confirmDeleteFile(path,grope){
            var yes = document.createElement('span');
            yes.className="btn btnyes";
            yes.onclick=function(){window.location.replace('{{host}}/file/delfile'+path)}
            yes.innerText="Yes";
            ModalPanel.appendChild(yes);
            
            var no = document.createElement('span');
            no.className="btn btnno";
            no.onclick=closeModal;
            no.innerText="No";
            ModalPanel.appendChild(no);
            
            showModal(grope+": "+path);
        }
        function confirmDeleteDir(path){
            var yes = document.createElement('span');
            yes.className="btn btnyes";
            yes.onclick=function(){window.location.replace('{{host}}/file/deldir'+path)}
            yes.innerText="Yes";
            ModalPanel.appendChild(yes);
            
            var no = document.createElement('span');
            no.className="btn btnno";
            no.onclick=closeModal;
            no.innerText="No";
            ModalPanel.appendChild(no);
            
            showModal("Folder: "+path);
        }
        function showModal(Message){
            DelModal.style.zIndex=200;
            DelModal.style.opacity=0.8;
            DelPath.innerHTML=Message; 
        }
        function closeModal(){
            delpath="";
            DelModal.style.opacity=0;
            DelModal.style.zIndex=-100;
            ModalPanel.innerHTML="";
        }
    </script>
    
    <div id=DelModal>
        <div class=window>
            <span class=Header>You sure delete?</span>
            <span id=DelPath></span>
            <span class=close onclick="closeModal()">X</span>
            <div id=ModalPanel>
            </div>
        </div>
    </div>