{%load staticfiles%}

<link href="{% static 'blocks/header.css' %}" rel="stylesheet" type="text/css"/>

<header>
    <div class="logo">
        <a href={{host}}>
            <h1 style="font-weight: bold!important;">HomeCloud</h1>
            <h4>Free Cloud in your home</h4>
        </a>
    </div>
    <div class="path">
        <span>CURRENT PATH:</span></br>
        <a href="{{host}}/file/explorer/" style="font-size:150%">/</a>
        {% for i in pathes %}
           <a href="{{host}}/file/explorer/{{i.hierrarhy}}">{{i.dir}}/</a>
        {% endfor %}
    </div>
</header>