{%load staticfiles%}

<style>
    .navBtn {
        display: flex;
        width: 30px;
        height: 30px;
        cursor: pointer;
        padding: 5px;
        margin: 5px;

        color: black;
        transition-property: width;
        transition-duration: .2s,.2s;
        background-color: #63cdda;
        border-right: gray 1px solid;
    }
    .navBtn:hover {
        width: 200px;
        max-width: 200px;
        transition-property: width;
        transition-duration: 0.2s;
        background-color: white;
    }

    .navBtn:hover > .navBtn_text {
        opacity: 1;
        transition-property: opacity;
        transition-duration: 0.3s;
        transition-delay: 0.2s;
    }


    .navBtn_text {
        padding-left: 7px;
        padding-right: 3px;
        margin-top: 2px;
        opacity: 0;
    }
    .navBtn_text span {
        color: black;
        font-size: 20px;
    }
    .navBtn_img{
        height: 25px
    }
</style>

<div class='navBtn' onclick="window.location.replace('{{host}}/file/explorer~')">
    <img class=navBtn_img src="{% static 'images/favicon.ico' %}">
    <div class='navBtn_text'>
        <span>Back to home</span>
    </div>
</div>

<div class='navBtn' onclick="showTextModal()">
    <img class=navBtn_img src="{% static 'images/newFolder.png' %}">
    <div class='navBtn_text'>
        <span>Create folder</span>
    </div>
</div>
<div class='navBtn' onclick="window.location.replace('{{host}}/file/downloadfolder{{path}}')" >
    <img class=navBtn_img src="{% static 'images/download.png' %}">
    <div class='navBtn_text'>
        <span>Download folder</span>
    </div>
</div>
<div class='navBtn' onclick="showUpModal('{{path}}')" >
    <img class=navBtn_img src="{% static 'images/upload.png' %}">
    <div class='navBtn_text'>
        <span>Upload file</span>
    </div>
</div>
<div class='navBtn' onclick="confirmDeleteDir('{{path}}')">
    <img class=navBtn_img src="{% static 'images/delete.png' %}">
    <div class='navBtn_text'>
        <span>Delete folder</span>
    </div>
</div>

