{%load staticfiles%}{% load i18n %}

<link href="{% static 'File/styles/blocks/panel.css' %}" rel="stylesheet" type="text/css"/>

<panel>
    <div id=panelcnt>
        <b onclick="accordion()" style="padding-left:20px;">{% trans "Groups:" %}</b>
        <div class="hideAccord ShowAccord" id=groupsAccord>
        {% if dirs%}
            <a href="#Folders">
                <img style="width:17px;" src="{% static 'File/images/folder.png' %}"> Folders ({{dirs|length|escape}})
            </a>
        {% endif %}
        {% for i1 in files.groups%}
            {% if i1.list %}
                <a href="#{{i1.name|escape}}">
                    <img style="width:17px;" src='{% static i1.icon %}'> {{i1.name|escape}} ({{i1.list|length|escape}})
                </a>
            {% endif %}
        {% endfor %}
        </div>
        <div  style="margin-top: 20%;display: flex; font-size: 15px; flex-direction: column;align-items: center">
            <span style="font-weight:bold">{% trans "Disk usage:" %}</span> 
            <span>{{disk.free|filesizeformat|escape}} {% trans "of" %} {{disk.total|filesizeformat|escape}}</span>
            <div id="freesize" class="w3-light-grey">
                <div class="w3-center" style="width:{{disk.percent|escape}}%;background-color:#63cdda; color: white">
                    <span>{{disk.percent|escape}}%</span>
                </div>
            </div>   
         </div>
    </div>
    
    
</panel>

<script>
        function accordion() {
            if (groupsAccord.className.indexOf("ShowAccord") == -1) 
                groupsAccord.className += "ShowAccord";
            else 
                groupsAccord.className = groupsAccord.className.replace("ShowAccord", "");

        }
            accordion()
        if (screen.width > 1023){
            groupsAccord.className += "ShowAccord";
        }
    </script>