{%load staticfiles%}
<link rel="stylesheet" href="{% static 'styles/blocks/navigation.css' %}" rel="stylesheet" type="text/css">
<nav>
    <div>
        <span style="font-size:80%;font-weight: bold;text-decoration: underline white">APPS</span>
        <li>
            <a style="text-decoration:none" href="/file/explorer~">
                <img src="{% static 'images/folder.png' %}"><br>
                <span >File</span>
            </a>
        </li>        
        <li>
            <a style="text-decoration:none" href="/file/public">
                <img src="{% static 'images/shere.png' %}"><br>
                <span >Public</span>
            </a>
        </li>
    </div>
    <li>
        <a style="text-decoration:none" href="./logout/">
            <img src=http://cdn.onlinewebfonts.com/svg/img_564295.png style="width: 50px;padding-top:10px;padding-right: 7px;padding-left: 7px;"><br>
            <span >Exit</span>
        </a>
    </li>
</nav>