{%load staticfiles%}
{% load i18n %}

<link rel="stylesheet" href="{% static 'DaSH/styles/blocks/navigation.css' %}" rel="stylesheet" type="text/css">
<nav>
    <div>
        <span style="font-size:80%;font-weight: bold;text-decoration: underline white">APPS</span>
        <li>
            <a style="text-decoration:none" href="/file/explorer~">
                <img src="{% static 'DaSH/images/folder.png' %}">
                <span>File</span>
            </a>
        </li>
        <li>
            <a style="text-decoration:none" href="/file/public">
                <img src="{% static 'DaSH/images/shere.png' %}">
                <span>Public</span>
            </a>
        </li>
    </div>
    <div style=" overflow-y: hidden">
        <li class="drop">
            <img src="{% static 'DaSH/images/settings.png' %}">
            <span>Settings</span>
            <div id="dropright">
                <a href="/file/settings/groups">File</a>
                <a href="/admin/Users">{% trans "Users"%}</a>
            </div>
        </li>
        <li>
            <a style="text-decoration:none" href="../logout/">
                <img src="{% static 'DaSH/images/exit.png' %}" width: 50px;padding-top:10px;padding-right: 7px;padding-left: 7px;"><br>
                <span>{% trans "Exit" context "Logout"%}</span>
            </a>
        </li>
    </div>
</nav>