#MovetModal{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba( 0, 0, 0, 0.8);
    opacity: 0;
    z-index: -200;
    font-family: 'Ubuntu', sans-serif;
}
.MVwindow{
    display: grid;
    grid-template-columns: auto 90px 60px;
    grid-template-rows: 50px 160px;
    grid-template-areas: 
        "Header Header close"
        "form form form";
    background-color:white;
    opacity: 1;
    min-width: 100px;
    min-height: 150px;
    margin: 10% 20%;
    border-radius: 3px;
}
.header{
    padding: 10px;
    background-color: #63cdda;
    grid-area: Header;
    font-size: 25px;
    color: #000;
    border-bottom: lightgrey 0.5px solid;
}
.close{
    grid-area: close;
    margin:auto;
    padding: 10px;
    font-size: 25px;
    transition: all 300ms ease;
}
.close:hover{
    background-color: #e15f41;
    border-radius: 3px;
    cursor: pointer;
}        
.MVForm{
    display: grid;
    grid-area: form;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: auto 120px 90px;
    grid-template-areas: 
        "path1 selectbtn1 ."
        "path2 selectbtn2 ."
        "mvsubm mvsubm mvsubm";
    margin-top: 20px;
}
.MVForm>span{
    text-align: center;
}
.MVForm input{
    font-size: 17px;
    border: none;
    margin-bottom: 10px;
}
#MVsubmit{
    
    display: static;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    grid-area: mvsubm;
    transition: all 200ms ease;
}
#MVsubmit:hover{
    cursor: pointer;
    background-color: #63cdda;
}
#Mvpath1{
    grid-area: path1;
}
#Mvpath2{
    grid-area: path2;
}
#Change1{
    grid-area: selectbtn1;
}
#Change2{
    grid-area: selectbtn2;
}

@media (max-width: 1024px){
    
    #uploadpath{
        padding: 20px;
        font-size: 130%;
    }

    #MovetModal{
        font-size: 130%;
    }
    .MVwindow{
        display: grid;
        grid-template-columns: auto 100px 100px;
        grid-template-rows: 120px auto;
        grid-template-areas: 
        "Header Header close"
            "form form form";
        min-width: 80%;
        min-height: 70%;
        margin: 5%;
        border-radius: 0;
    }
    .header{
        padding: 5%!important;
        font-size: 130%!important;
    }     
    .close{
        padding: 20px!important;
        font-size: 130%!important;
    } 

    .MVForm>span{
        font-size: 110%!important;
    }
    .MVForm{
        display: grid;
        grid-area: form;
        grid-template-rows: auto auto 60px;
        grid-template-columns: auto 120px 90px;
        margin-top: 10px;
    }
    .MVForm input{
        font-size: 110%!important;
        padding: 20px;
        margin: auto;
    }

}