body{
    font-family: 'Ubuntu', sans-serif;
}
#content{
    margin:auto;
    margin-top: 40px;
    width:550px;
    background-color: #778beb;
    padding: 20px;
    color: white;
}

#content>div{
    margin:5px;
    display: flex;
    flex-direction: column; 
}
#content>div>select{
    margin: 10px;
    margin-left: 20px;
    padding: 5px;
    width: 50%;
}
#content>div>span{
    margin: 10px;
    margin-left: 0px;
    font-weight: bold;
}
#content>div>input{
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;

}

#panel{
    margin-top: 40px!important;
    padding: 5px 0;
    border-top: lightgray solid 1px;
    display: flex!important;
    flex-direction: row!important;
    justify-content: flex-start;
    align-items: center;
}
#panel>input{
    
    background-color: white;
    color: black;
    cursor: pointer;
    
    margin: 10px 5px;
    font-size: 18px;
    border: none;
    transition: all 0.5s ease;
}
#panel>input[type="text"]{
    width:90%;
}
#panel>input:hover{
    color:white;
    background-color:#5b72e4;
}
#panel>button{
    background-color: white;
    color: black;
    cursor: pointer;
    
    padding: 5px 5px;
    font-size: 18px;
    border: none;
    transition: all 0.5s ease;
}
#panel>button:hover{
    color: white;
    background-color:#5b72e4;
}