body{
    font-family: 'Ubuntu', sans-serif;
}
#content{
    margin:auto;
    margin-top: 40px;
    width:550px;
    background-color: #778beb;
    padding: 20px;
    color: white;
}

#content>div{
    margin:5px;
    display: flex;
    flex-direction: column; 
}
#content>div>span{
    margin: 10px;
    margin-left: 0px;
    font-weight: bold;
}
#content>div>input{
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;

}

#panel{
    margin-top: 40px!important;
    padding: 5px 0;
    border-top: lightgray solid 1px;
    display: flex!important;
    flex-direction: row!important;
    justify-content: flex-start;
    align-items: center;
}
#panel>input{
    
    background-color: white;
    color: black;
    cursor: pointer;
    
    margin: 10px 5px;
    font-size: 18px;
    border: none;
    transition: all 0.5s ease;
}
#panel>input[type="text"]{
    width:90%;
}
#panel>input:hover{
    color:white;
    background-color:#5b72e4;
}
#panel>button{
    background-color: white;
    color: black;
    cursor: pointer;
    
    padding: 5px 5px;
    font-size: 18px;
    border: none;
    transition: all 0.5s ease;
}
#panel>button:hover{
    color: white;
    background-color:#5b72e4;
}

@media (max-width: 1024px){
    body{
        font-size: 130%;
        min-height: 100%;
        margin: 0;
        width:100%;
        display: flex;
        flex-direction: column;
    }   

    #content{
        width:100%;
        font-size: 130%;
    }
    
    #content>div{
        margin:20px;
        display: flex;
        flex-direction: column;
        font-size: 90%; 
    }

    #content>div>input{
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        font-size: 90%; 
    }
    
    #panel{
        margin-top: 40px!important;
        padding: 5px 0;
        border-top: lightgray solid 1px;
        display: flex!important;
        flex-direction: row!important;
        justify-content: flex-start;
        align-items: center;
    }
    #panel>input{
        padding: 15px 10px!important;
        font-size: 90%; 
    }
    #panel>input[type="text"]{
        width:110%;
    }
    #panel>button{
        padding: 15px 10px;
        font-size: 90%; 
    }
}