body{
    font-family: 'Ubuntu', sans-serif;
}
#content{
    margin:auto;
    margin-top: 40px;
    width:650px;
    padding: 50px;
    color: white;
    background-color: #778beb;
}
.row{
    grid-area: row;
    margin:10px 0;
    padding:5px;
    border-bottom:solid gray 1px;
    display:flex;
    flex-direction:row;
    align-items:center;
    text-decoration:none;
    color:black;
    background-color: white;
    transition: all 0.5s ease;
    cursor:pointer;
}
.del{
    grid-area:del;
    margin:10px 0;
    padding:5px;
    color:black;
    background-color: white;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    text-decoration:none;
    border-bottom:solid gray 1px;
    border-left:solid gray 1px;
    transition: all 0.5s ease;
    cursor:pointer;
}
.del:hover{
    background-color: #e15f41;
    font-size: 18px;
}
#content>div{
    display: grid;
    grid-template-areas: "row del";
    grid-template-columns: auto 100px;
    grid-column-gap: 5px;
}
.row:hover{
    background-color: #5b72e4;
    color:white;
}
img{
    width:24px;
    height:24px;
    margin-right:5px;
}

@media (max-width: 1024px){
    body{
        font-size: 130%;
        min-height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    #content{
        margin:auto;
        margin-top: 40px;
        width:100%;
        padding: 50px;
    }
    .row{
        margin:10px 0;
        padding:20px 10px;
        font-size: 130%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .del{
        margin:10px 0;
        padding:5px 20px;
        font-size: 130%;
    }
    #content>div{
        grid-template-columns: auto 140px;
        grid-column-gap: 10px;
    }
    img{
        width:35px;
        height:35px;
        margin-right:15px;
    }
}