#page{
    grid-area: contentfield;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 20px;
}
#content{
    display: grid;
    grid-template-columns:  50% auto;
    grid-template-rows:55px auto auto  ;
    grid-template-areas: 
        "title title"
        "osname DiskSpan"
        "hostname DiskTotal"
        "cpuname DiskUsed"
        "cpucount DiskFree"
        "cpupercent DiskBar"
        ". ."
        "title2 title2"
        "Netinfo1 Netinfo2"
        "Netinfo3 Netinfo4"
        "IFList IFList"
        "title1 title1"
        "Vmemory Smemory"
        ". ."
        ;
    font-size:1.1rem;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.title{
    background-color: #778beb;

    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
    margin-right: 5px;
    margin-bottom: 10px;
}
ul {
    padding: 0;
    margin-left: 0;
    transition: all 0.7s ease;
}
ul details:hover{
    background-color: #778beb;
    color: white;
}
ul details{
    margin: 5px;
    padding: 5px;
}
ul details summary{
    padding: 2px;
    font-size:1.2rem;
    cursor: pointer;
    transition: all 0.7s ease;
}
ul span{
    font-size: 1.34rem;
    font-weight: bold;
}

body{
    margin: 0;
    min-height:100%;
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows:100px auto;
    grid-template-areas: 
        
        "navigate logoline "
        "navigate contentfield "
        "navigate footer";
    
    align-content: stretch; 
    justify-items: stretch;

}
#VMemory{
    font-family: 'Ubuntu', sans-serif; 
    background-color: white;
    width: 400px;
    height: 200px;
    grid-area: Vmemory;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#SMemory{
    font-family: 'Ubuntu', sans-serif; 
    background-color: white;
    width: 400px;
    height: 200px;
    grid-area: Smemory;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}