{%load staticfiles%}
{% load i18n %}

<link href="{% static 'File/styles/Modals/DeleteModal.css' %}" rel="stylesheet" type="text/css"/>
    <script>
        function confirmDeleteFile(path,grope){
            ModalPanel.action="{{host|escape}}/file/delfile"
            sendDelPath.value=path;
            
            showModal(grope+": "+path);
        }
        function confirmDeleteDir(path){
            ModalPanel.action="{{host|escape}}/file/deldir"
            sendDelPath.value=path;
            showModal("Folder: "+path);
        }
        function showModal(Message){
            DelModal.style.zIndex=200;
            DelModal.style.opacity=1;
            DelPath.innerHTML=Message; 
        }
        function closeDelModal(){
            delpath="";
            DelModal.style.opacity=0;
            DelModal.style.zIndex=-100;
        }
    </script>
    
    <div id=DelModal>
        <div class=window>
            <span class=Header>{% trans "You sure delete?" %}</span>
            <span id=DelPath></span>
            <span class=close onclick="closeDelModal()">X</span>
            <form id=ModalPanel method="POST" onkeypress="if(event.keyCode == 13) return false;">
                {% csrf_token %}
                <input type="hidden" name="delpath" id=sendDelPath>
                <input type="submit" class="btn btnyes" value="{% trans 'Yes' %}">
                <span class="btn btnno" onclick="closeDelModal()">{% trans "No" %}</span>
            </form>
        </div>
    </div>