{%load staticfiles%}
<link href="{% static 'Modals/MoveModal.css' %}" rel="stylesheet" type="text/css"/>

<script>
            function showMoveModal(){
                MovetModal.style.zIndex=100;
                MovetModal.style.opacity=0.8;
            }
            function showMoveModalP(path,name){
                MovetModal.style.zIndex=100;
                MovetModal.style.opacity=0.8;
                Mvpath1.value=path+"/"+name;
                Mvpath2.value=path;
            }
            function closeMoveModal(){
                MovetModal.style.opacity=0;
                MovetModal.style.zIndex=-100;
            }
        </script>
        
        <div id=MovetModal>
            <div class=MVwindow>
                <span class=Header>Moving Directory</span>
                <span class=close onclick="closeMoveModal()">X</span>
                <form action="{{host}}/file/movedir" method="POST" class=MVForm>
                    {% csrf_token %}
                    <input style="width: 80%;margin-left: 10px;" name=originalpath id=Mvpath1 value="{{path}}" readonly type="text">
                    <span onclick="showLiteDirModal(Mvpath1,showMoveModal),closeMoveModal()" id=Change1 class=selctbtn >Change</span>
                    <input style="width: 80%;margin-left: 10px;" name=destionalpath id=Mvpath2 value="{{path}}" readonly type="text">
                    <span onclick="showLiteDirModal(Mvpath2,showMoveModal),closeMoveModal()" id=Change2 class=selctbtn >Change</span>
                    <input id=MVsubmit type="submit" value="Move">
                </form>
            </div>
        </div>
