{%load staticfiles%}
{% load i18n %}
<link href="{% static 'File/styles/Modals/MoveModal.css' %}" rel="stylesheet" type="text/css"/>

<script>
            function showMoveModal(){
                MovetModal.style.zIndex=100;
                MovetModal.style.opacity=0.8;
            }
            function showMoveModalP(path,name){
                MovetModal.style.zIndex=100;
                MovetModal.style.opacity=0.8;
                Mvpath1.value=path+"/"+name;
                Mvpath2.value=path;
            }
            function closeMoveModal(){
                MovetModal.style.opacity=0;
                MovetModal.style.zIndex=-100;
            }
        </script>
        
        <div id=MovetModal>
            <div class=MVwindow>
                <span class=Header>{% trans "Moving Directory" %}</span>
                <span class=close onclick="closeMoveModal()">X</span>
                <form action="{{host|escape}}/file/movedir" method="POST" class=MVForm onkeypress="if(event.keyCode == 13) return false;">
                    {% csrf_token %}
                    <input style="width: 80%;margin-left: 10px;" name=originalpath id=Mvpath1 value="{{path|escape}}" readonly type="text">
                    <span onclick="showLiteDirModal(Mvpath1,showMoveModal),closeMoveModal()" id=Change1 class=selctbtn >{% trans "Change" %}</span>
                    <input style="width: 80%;margin-left: 10px;" name=destionalpath id=Mvpath2 value="{{path|escape}}" readonly type="text">
                    <span onclick="showLiteDirModal(Mvpath2,showMoveModal),closeMoveModal()" id=Change2 class=selctbtn >{% trans "Change" %}</span>
                    <input id=MVsubmit type="submit" value="{% trans 'Move' %}">
                </form>
            </div>
        </div>
