{%load staticfiles%}
{% load i18n %}

<link href="{% static 'File/styles/Modals/DeleteMultiModal.css' %}" rel="stylesheet" type="text/css"/>
    <script>
        function confirmMDFile(list) {
            MDPath.innerHTML = "";
            MDPanel.action = "{{host|escape}}/file/delete"
            data = []
            CheckList.forEach(function (item) {
                data[data.length] = item.id
                MDPath.innerHTML += "<li>" + item.id + "</li>";
            });
            sendMDElements.value = JSON.stringify(data);
            showMDModal();
        }
        function showMDModal(){
            MDModal.style.zIndex=200;
            MDModal.style.opacity = 1;
        }
        function closeMDModal(){
            MDModal.style.opacity=0;
            MDModal.style.zIndex=-100;
        }
    </script>
    
    <div id=MDModal>
        <div id=MDwindow>
            <span id=MDheader>{% trans "You sure delete next elements?" %}</span>
            <div id=MDPath>
                
            </div>
            <span id=MDclose onclick="closeMDModal()">X</span>
            <form id=MDPanel method="POST" onkeypress="if(event.keyCode == 13) return false;">
                {% csrf_token %}
                <input type="hidden" name="delpath" value="{{ path| escape }}">
                <input type="hidden" name="list" id=sendMDElements>
                <input type="submit" id="MDbtnyes" class="MDbtn" value="{% trans 'Yes' %}">
                <span id="MDbtnno" class="MDbtn" onclick="closeMDModal()">{% trans "No" %}</span>
            </form>
        </div>
    </div>