{%load staticfiles%}
{% load i18n %}

<link href="{% static 'Modals/TextInputModal.css' %}" rel="stylesheet" type="text/css"/>

        <script>

            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            function showTextModal(){
                TextInputModal.style.zIndex=200;
                TextInputModal.style.opacity=0.8;
                MKPath.value="{% trans 'New Folder' %}"; 
                checkdir();
            }
            function closeTextModal(){
                TextInputModal.style.opacity=0;
                TextInputModal.style.zIndex=-100;
                MKPath.value="";
            }
            function checkdir(){
                var xhr = new XMLHttpRequest();
               
                xhr.open('POST','{{host|escape}}/file/exdir',true);
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send("path="+encodeURIComponent("{{path|escape}}/"+MKPath.value));
                xhr.onreadystatechange=function(){
                    if(xhr.status==200){
                        if (xhr.response=="True")
                        {
                            MKsubmit.style.display="None";
                            MKmess.innerText="{% trans 'Directory is exist' %}";
                            MKPath.style.borderColor="red";
                        }
                        if (xhr.response=="False"){
                            MKsubmit.style.display="";
                            MKPath.style.borderColor="green"
                            MKmess.innerText="";
                        }
                            
                    }
                }
            }
            function mkdir(){
                window.location.replace('{{host|escape}}/file/mkdir'+MKPath.value);
            }
        </script>
        
        <div id=TextInputModal>
            <div class=MKwindow>
                <span class=Header>{% trans "Creating Directory" %}</span>
                <span class=close onclick="closeTextModal()">X</span>
                <form class=MKForm method="POST" action="{{host}}/file/mkdir" onkeypress="if(event.keyCode == 13) return false;">
                    <input style="width: 80%;" onchange="checkdir()" name=path id=MKPath type="text">
                    {% csrf_token %}    
                    <input id=MKsubmit type="submit" value="{% trans 'Create' %}"></br>
                    <label id=MKmess style="color:red;margin-left: 10px;"></label>
                    <input name=dirpath type="hidden" value="{{path|escape}}/">
                </form>
            </div>
        </div>