{%load staticfiles%}

<link href="{% static 'Modals/TextInputModal.css' %}" rel="stylesheet" type="text/css"/>

        <script>
            function showTextModal(){
                TextInputModal.style.zIndex=200;
                TextInputModal.style.opacity=0.8;
                MKPath.value="New Folder"; 
                checkdir();
            }
            function closeTextModal(){
                TextInputModal.style.opacity=0;
                TextInputModal.style.zIndex=-100;
                MKPath.value="";
            }
            function checkdir(){
                var xhr = new XMLHttpRequest();
                xhr.open('GET','{{host}}/file/exdir{{path}}/'+MKPath.value,true);
                xhr.send();
                xhr.onreadystatechange=function(){
                    if(xhr.status==200){
                        if (xhr.response=="True")
                        {
                            MKsubmit.style.display="None";
                            MKmess.innerText="Директория уже существует";
                            MKPath.style.borderColor="red";
                        }
                        if (xhr.response=="False"){
                            MKsubmit.style.display="";
                            MKPath.style.borderColor="green"
                            MKmess.innerText="";
                        }
                            
                    }
                }
            }
            function mkdir(){
                window.location.replace('{{host}}/file/mkdir{{path}}/'+MKPath.value);
            }
        </script>
        
        <div id=TextInputModal>
            <div class=MKwindow>
                <span class=Header>Creating Directory</span>
                <span class=close onclick="closeTextModal()">X</span>
                <form class=MKForm>
                    <input style="width: 80%;" onchange="checkdir()" name=path id=MKPath type="text">
                    <input id=MKsubmit type="button" onclick="mkdir()" value="Create"></br>
                    <label id=MKmess style="color:red;margin-left: 10px;"></label>
                </form>
            </div>
        </div>