body{
    margin: 0;
    display: grid;
    grid-template-columns: auto 15%;
    grid-template-rows: auto 50px auto;
    grid-template-areas: 
        "headeres headeres"
        "nav nav"
        "content panel"
        "footer panel";
    font-family: Dejavu Sans; 
}
.nav {
    background-color: #63cdda;
    padding: 10px;
    z-index: 10;
}
#navbar{
    grid-area: nav;
    transition: top 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 30px;
}