body{
    margin: 0;
    display: grid;
    grid-template-columns:  15% auto;
    grid-template-rows: auto 50px auto;
    grid-template-areas: 
        "headeres headeres"
        "nav nav"
        "panel content "
        "panel footer ";
    font-family: 'Ubuntu', sans-serif;
    min-height: 100%;
}
.nav {
    background-color: #63cdda;
    padding: 10px;
    z-index: 10;
}
#navbar{
    grid-area: nav;
    transition: top 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 30px;
}