#MovetModal{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    z-index: -200;
}
.MVwindow{
    display: grid;
    grid-template-columns: auto 90px 40px;
    grid-template-rows: 50px 160px;
    grid-template-areas: 
        "Header Header close"
        "form form form";
    background-color:white;
    opacity: 1;
    min-width: 100px;
    min-height: 150px;
    margin: 10% 20%;
    border-radius: 3px;
}
.header{
    padding: 10px;
    background-color: #63cdda;
    grid-area: Header;
    font-size: 25px;
    color: #000;
    border-bottom: lightgrey 0.5px solid;
}
.close{
    grid-area: close;
    margin:auto;
    padding: 10px;
    font-size: 25px;
    transition: all 200ms ease;
}
.close:hover{
    background-color: #e15f41;
    border-radius: 3px;
    cursor: pointer;
}        
.MVForm{
    display: grid;
    grid-area: form;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: auto 120px 90px;
    grid-template-areas: 
        "path1 selectbtn1 ."
        "path2 selectbtn2 ."
        "mvsubm mvsubm mvsubm";
    margin-top: 20px;
}
.MVForm>span{
    text-align: center;
}
.MVForm input{
    font-size: 17px;
    
    margin-bottom: 10px;
}
#MVsubmit{
    
    display: static;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    grid-area: mvsubm;
    transition: all 200ms ease;
}
#MVsubmit:hover{
    cursor: pointer;
    background-color: #63cdda;
}
#Mvpath1{
    grid-area: path1;
}
#Mvpath2{
    grid-area: path2;
}
#Change1{
    grid-area: selectbtn1;
}
#Change2{
    grid-area: selectbtn2;
}
