#TextInputModal{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    z-index: -100;
}
.MKwindow{
    display: grid;
    grid-template-columns: auto auto 40px;
    grid-template-rows: 50px auto;
    grid-template-areas: 
        "Header Header close"
        "form form .";
    background-color:white;
    opacity: 1;
    min-width: 100px;
    min-height: 100px;
    margin: 10% 20%;
    border-radius: 3px;
}
.header{
    padding: 10px;
    background-color: #63cdda;
    grid-area: Header;
    font-size: 25px;
    color: #000;
    border-bottom: lightgrey 0.5px solid;
}
.close{
    grid-area: close;
    margin:auto;
    padding: 10px;
    font-size: 25px;
    transition: all 200ms ease;
}
.close:hover{
    background-color: #e15f41;
    border-radius: 3px;
    cursor: pointer;
}        
.MKForm{
    grid-area: form;
    padding: 20px;
    margin-top: 20px;
}
.MKForm input{
    font-size: 17px;
    margin-left: 10px;
    padding: 5px;
    padding-left:15px;
    padding-right: 15px;
}
#MKsubmit{
    display: static;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    transition: all 200ms ease;
}
#MKsubmit:hover{
    cursor: pointer;
    background-color: #63cdda;
}