{%load staticfiles%}
<title>HomeCloud Auth</title>
<link rel="stylesheet" href="{% static 'DaSH/styles/auth.css' %}" rel="stylesheet" type="text/css">

{% include "./blocks/logo.html" %}

<span style="grid-area:bigspan;margin:auto;font-size: 35px;font-family: Dejavu Sans;font-weight: bold">Auth page</span>   

<form method="post" action="/auth/">
    {% csrf_token %}
    <input type=text placeholder="login" name="login">
    <input type="password" placeholder="password" name="pass">
    <input type="submit" value="Enter">
    <input type="hidden" name="next" value="{{ next|escape }}" />
</form>