<title>HomeCloud Auth</title>

{% include "./blocks/logo.html" %}

<span style="grid-area:bigspan;margin:auto;font-size: 35px;font-family: Dejavu Sans;font-weight: bold">Auth page</span>   

<form method="post" action="/auth/">
    {% csrf_token %}
    <input type=text placeholder="login" name="login">
    <input type="password" placeholder="password" name="pass">
    <input type="submit" value="Войти">
    <input type="hidden" name="next" value="{{ next|escape }}" />
</form>


<style>
    body{
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 5%;
        grid-template-rows:100px auto ;
        grid-template-areas: "logoline bigspan "
        "form form";
    }
    form{
        margin: auto;
        max-width:450px;
        min-width:450px;
        min-height: 250px;
        max-height: 250px;
        grid-area: form;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    form input{
        font-family: Dejavu Sans;
        padding: 10px;
        border-radius: 5px;
    }
</style>