{%load staticfiles%}
{% load i18n %}
<title>{% trans 'Sharing' %}</title>
<link rel="icon" href="{% static 'images/icons/faviconFile.ico' %}" type="image/x-icon">


{% include "./blocks/header.html" %}


<style>
body{
    margin: 0;
    font-family: DejaVu Sans;
}

form{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form input{
    font-family: DejaVu Sans;
    padding: 10px;
    margin: 10px 0;
}
#mess{
    font-weight: bold;
    color: green;
}
#submit{
    border: 0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease;
}
#submit:hover{
    background-color: #63cdda;
}
.selctbtn{
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

.selctbtn:hover{
    transition: all 200ms ease;
    background-color: #3dc1d3; 
}
.close{
    grid-area: close;
    margin:auto;
    padding: 10px;
    margin: 1px;
    font-size: 25px;
    transition: all 200ms ease;
}
.close:hover{
    background-color: #e15f41;
    border-radius: 3px;
    cursor: pointer;
}        

</style>



<body>
    <div style="margin:auto;width:900px;margin-top: 60px;">
        <h2>{% trans 'Sharing file' %}</h2>
        <form method="POST" id=form action="/file/public/share/addfile" onkeypress="if(event.keyCode == 13) return false;">
            <div>
                <input style="width:750px" type="text" id=filePAth name=path value="{{path|escape}}" readonly>
                <span  onclick="showLiteDirModalPO(filePAth)" id=Change1 class=selctbtn >{% trans 'Change' %}</span>
            </div>
            
            <span>{% trans 'Shered Link' %}: {{host|escape}}/file/public/<input name=name type="text" id=pseudoname value="SharedFile" onchange="checkname()"></span>
            <span id=mess>{% trans 'Pseudoname is avilable' %}!</span>
            <div>
                <input type="checkbox" name=isVisible id=isVisible  checked><label for=isVisible> {% trans 'Is Visible' %}</label>
            </div>
            <input id=submit type="submit"  value="{% trans 'Share File' %}">
            {% csrf_token %}
        </form>
    </div>
</body>


<script>

function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
function checkname(){
    var xhr = new XMLHttpRequest();
               
    xhr.open('POST','/file/public/existpseudo',true);
    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.send("name="+encodeURIComponent(pseudoname.value));
    xhr.onreadystatechange=function(){
        if(xhr.status==200){
            if (xhr.response=="False")
            {
                submit.style.display="None";
                mess.innerText="{% trans 'Pseudoname is not avilable' %}!";
                pseudoname.style.borderColor="red";
                mess.style.color="red"
            }
            if (xhr.response=="True"){
                submit.style.display="";
                pseudoname.style.borderColor="green"
                mess.innerText="{% trans 'Pseudoname is not avilable' %}!";
                mess.style.color="green"
            }                   
        }
    }
}
checkname()
</script>

{% include "Lite/LiteFiles.html"%}