{% load i18n %}
{%load staticfiles%}
<title>{% trans 'Public files on server' %}</title>
<link rel="icon" href="{% static 'File/images/icons/faviconFile.ico' %}" type="image/x-icon">

{% include "./blocks/header.html" %}

<style>
body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.rows{
    margin: 0 20px;
    display:flex;
    flex-direction: column;
}
.rows>a{
    display: grid;
    
    grid-template-areas: "File size user";
    grid-template-columns: 75% 10% 15%;

    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-top:5px;
    padding-bottom: 10px;
    border-bottom: lightgrey 0.5px solid;
    transition: all 0.5s ease;
}
.rows>a:hover{
    background-color: #63cdda;
}
.rows>a>span{
    color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
    padding-right: 30px;
    font-size: 14px
}
.rows h2{
    margin-bottom: 0;
}
.rows>span{
    color: #777777;
}
.ToMyFiles{
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
    margin-right: 20px;
    font-weight: bold;
}
.ToMyFiles:hover{
    background-color: #63cdda;
    cursor: pointer;
}
</style>

<body>
    <div class="rows">
        <div style="margin-bottom: 20px;display: flex;flex-direction: row;align-items: center;justify-content: space-between">
            <div>
                <h2>{% trans 'Public files on server' %}</h2>
                <span>{% trans 'Click to download' %}</span>
            </div>
            <a class="ToMyFiles" href={% url 'userpublic'  %}>{% trans 'My public files' %}</a>
        </div>
        
        
        {% for item in list %}
            <a href={% url 'downloadPub' name=item.pn|escape %}>
                <div style="display:flex;align-items: center;grid-area:File">
                    <img src="{% static 'File/images/file.png' %}" style="height: 24px;margin-right: 5px;"> {{item.pn|escape}}
                </div>
                <span style="grid-area:size">
                    {{item.size|filesizeformat|escape}}
                </span>
                <span style="grid-area:user">
                    {{item.user|escape}}
                </span>
            </a>
        {% endfor %}
    </div>
</body>