body{
    margin: 0;
    display: grid;
    grid-template-columns: auto 15%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "headeres headeres"
        "content content"
        ;
    font-family: Dejavu Sans; 
}

#content{
    grid-area: content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#content>details{
    padding: 5px 10px;
    margin: 5px 0px;
}