{%load staticfiles%}
{% load i18n %}

<link rel="icon" href="{% static 'DaSH/images/favicon.ico' %}" type="image/x-icon">
<title>HomeCloud {% trans 'Users' %}</title>

{% include "../blocks/logo.html" %}


<form id=content method="POST">

{{form}}

{% csrf_token %}
<input type="submit" value="{% trans 'Change' %}">

</form>  

<style>

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
#content{
    margin:auto;
    margin-top: 40px;
    width:650px;
    padding: 55px;
    color: white;
    background-color: #778beb;
    display: flex;
    flex-direction: column;
}
input{
    font-size: 18px;
    padding: 10px;
    margin-left: 20px;
}
label{
    padding: 20px 0;
}
input[type="submit"]{
    margin-top: 30px;
    margin-bottom: 0;
    background-color: white;
    border: none;
    
    transition: all 0.5s ease;
}
input[type="submit"]:hover{
    color:white;
    cursor: pointer;
    background-color:#5b72e4;
}
.errorlist{
    background-color: #e66767;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 20px;
}
@media (max-width: 1024px){
    body{
        font-size: 32px;
        min-height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    #content{
        margin:auto;
        margin-top: 40px;
        width:100%;
        padding: 50px;
    }
}
</style>