{%load staticfiles%}
{% load i18n %}


<link rel="stylesheet" href="{% static 'DaSH/styles/settings/Users.css' %}" rel="stylesheet" type="text/css">
<link rel="icon" href="{% static 'DaSH/images/favicon.ico' %}" type="image/x-icon">
<title>HomeCloud {% trans 'Users' %}</title>

{% include "../blocks/logo.html" %}



<div id=content>
    <a class="row" href="./create">
        <img src="{% static 'DaSH/images/add.png' %}" />
        <span>
            {% trans 'Add new user' %}
        </span>
    </a>
    {% for i in users %}
    <div>
        <a class="row">
            <span>
                {{i}}
            </span>
        </a>
        <a class="del" href="./del{{i}}">{% trans 'Delete' %}</a>
    </div>
    {% endfor %}
</div>