nav{
    width: 70px;
    grid-area: navigate;
    position: fixed;
    bottom:0;
    left:0;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #778beb;
    text-align: center;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    border-right: 1px #777;
}
nav li{
    margin-top: 10px;
    padding-right: 7px;
    padding-left: 7px;
    list-style: none;
    transition: all 0.5s ease;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
nav li:hover{
    background-color: #687ef1!important;
    cursor: pointer;
}
nav li img{
    width: 50px;
}
nav div{
    overflow-y: auto;
}
.drop:hover #dropright{
    display:flex;
}
#dropright {
    min-width: 50px;
    max-width:175px;
    min-height: 10px;
    max-height:550px;
    position: fixed;
    left: 70px;
    bottom: 78px;
    overflow-y:auto;
    display:none;
    flex-direction:column;
    background-color: #778beb
}

#dropright>a{
    text-align:left;
    width:100%;
    text-decoration:none;
    color:white;
    font-size:17px;
    margin:5px 0;
    padding:5px 10px;
    overflow-x:hidden;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dropright>a:hover{
    background-color:#687ef1;
}

@media (max-width: 1024px){
    nav{
        width: 10%;
        font-size: 130%;
    }
    nav li{
        margin-top: 20px;
    }
    nav li img{
        width: 60px;
    }

    #dropright {
        min-width: 50px;
        max-width:225px;
        left: 10%;
        bottom: 110px;
    }
    
    #dropright>a{
        font-size:130%;
        padding:10px 10px;
    }
}