{%load staticfiles%}
{% load i18n %}

<link href="{% static 'Modals/LiteDirectory.css' %}" rel="stylesheet" type="text/css"/>
    <script>
        var pathtodir,callback;
        function showLiteDirModal(outputPathNode,callbackMeth){
            pathtodir=outputPathNode;
            callback=callbackMeth;
            LiteDir.style.zIndex=200;
            LiteDir.style.opacity=0.8;
            LiteDirPath.innerText="{{path}}";
            getDirs()
        }
        function changedir(dir){
            LiteDirPath.innerText+="/"+dir;
            getDirs();
        }
        function back(){
            LiteDirPath.innerText=LiteDirPath.innerText.substring(0,LiteDirPath.innerText.lastIndexOf("/"));
            getDirs();
        }
        function getDirs(){
            var xhr = new XMLHttpRequest();
            xhr.open('GET','{{host}}/file/lite/explorerdir'+LiteDirPath.innerText,true);
            xhr.send();
            xhr.onreadystatechange=function(){
                if(xhr.status==200 && xhr.readyState==4){
                    var HTML="";
                    if(LiteDirPath.innerText.length!=0)
                        HTML+="<div class=Literow onclick=\"back()\"> <img src=\"{% static 'images/back.png' %}\" style=\"width:20px;\" ><span>{% trans 'Back' %}</span></div>"
                    var resp=JSON.parse(xhr.responseText)
                    for (let i in resp)
                        HTML+="<div class=Literow onclick='changedir(\""+resp[i]+"\")'><img src=\"{% static 'images/folder.png' %}\" style=\"width:20px;\" ><span> "+resp[i]+"</span></div>";
                    LiteDirs.innerHTML=HTML;
                }
            }
        }
        function Selectdir(){
            pathtodir.value=LiteDirPath.innerText;
            closeModal();
        }
        function closeModal(){
            LiteDir.style.opacity=0;
            LiteDir.style.zIndex=-100;
            callback()
        }
    </script>
    
    <div id=LiteDir>
        <div class=Litewindow>
            <span id=LiteDirPath class=Header></span>
            <button id=LiteConfBtn onclick="Selectdir()">{% trans 'Confirm' %}</button>
            <span class=close onclick="closeModal()">X</span>
            <div id=LiteDirs></div>
            
        </div>
    </div>