{%load staticfiles%}

<link href="{% static 'Modals/LiteDirectory.css' %}" rel="stylesheet" type="text/css"/>
    <script>
        
        function showLiteDirModal(){
            LiteDir.style.zIndex=200;
            LiteDir.style.opacity=0.8;
            LiteDirPath.innerText="{{path}}";
            getDirs()
        }
        function changedir(dir){
            LiteDirPath.innerText+="/"+dir;
            getDirs();
        }
        function back(){
            LiteDirPath.innerText=LiteDirPath.innerText.substring(0,LiteDirPath.innerText.lastIndexOf("/"));
            getDirs();
        }
        function getDirs(){
            var xhr = new XMLHttpRequest();
            xhr.open('GET','{{host}}/file/lite/explorerdir'+LiteDirPath.innerText,true);
            xhr.send();
            xhr.onreadystatechange=function(){
                if(xhr.status==200 && xhr.readyState==4){
                    var HTML="<ul>";
                    if(LiteDirPath.innerText.length!=0)
                        HTML+="<li onclick=\"back()\">Back</li>"
                    var resp=JSON.parse(xhr.responseText)
                    for (let i in resp)
                        HTML+="<li onclick='changedir(\""+resp[i]+"\")'>"+resp[i]+"</li>";
                    HTML+="</ul>";
                    LiteDirs.innerHTML=HTML;
                }
            }
        }
        function closeLiteDirModal(){
            LiteDir.style.opacity=0;
            LiteDir.style.zIndex=-100;
        }
    </script>
    
    <div id=LiteDir>
        <div class=Litewindow>
            <span id=LiteDirPath class=Header></span>
            
            <span class=close onclick="closeLiteDirModal()">X</span>
            <div id=LiteDirs></div>
            
        </div>
    </div>