{%load staticfiles%}
<title>HomeCloud File</title>
<link rel="icon" href="{% static 'images/icons/faviconFile.ico' %}" type="image/x-icon">
<style>
    body{
        margin: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
            "headeres"
            "nav"
            "content";
        font-family: Dejavu Sans; 
    }
    .nav{
        background-color: #63cdda;
        padding: 10px;
    }
    #navbar{
        grid-area: nav;
        transition: top 0.3s;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-height: 30px;
    }
</style>
<style>
    .content{
        grid-area: content;
        margin-left: 5px;
    }
    .row img{
        height: 24px;
    }
    .row{
        min-height: 24px;
        width: 80%;
        max-width: 80%;
        display: grid;
        grid-template-columns: 75% 15% 10%;
        grid-template-rows: auto;
        grid-template-areas: 
        "Name size panel"
        "Name time panel";
        color: #000;
        border-bottom: lightgrey 0.5px solid;
        font-family:Dejavu Sans;    
        padding-top:5px;
        padding-bottom: 10px;
        padding-left: 20px;
        transition: all 0.5s ease;
    }  
    .row:hover{
        background-color: #63cdda;
    }
    .name{
        grid-area: Name;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .name img{
        margin-right: 10px;
    }
    .size{
        grid-area: size;
        font-size: 14px;
    }
    .time{
        grid-area: time;
        font-size: 14px;
    }
    .panel{
        grid-area: panel;
        display:inline;
        opacity: 0;
    }
    .panel img{
        margin-right: 5px;
        transition: all 0.7s ease;
    }
    .panel img:hover{
        border-radius: 5px;
        background-color: white;
    }
    .row a{
        word-break:break-all;
        width: 80%;
        height: 120%;
        text-decoration: none;
        color:inherit;
        cursor: pointer;
    }
    .groupe{
        width: 80%;
        max-width:80%;
        
        border-top: lightgrey 2px solid;
        border-bottom: lightgrey 1px solid;
        border-radius: 10px;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 2%;
    }
    .groupe summary{
        border-bottom: lightgrey 1px solid;
        border-radius: 10px;
        padding: 5px;
        font-weight: bold;
        transition: all 1s ease;
    }
    .groupe summary:hover{
        background-color: #63cdda;
    }
    .ingroupe{
        margin-left: 2%;
        width: 95%;
        max-width: 95%;
    }
</style>
<script>
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        var nav=document.getElementById("navbar")
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
            nav.style.position="fixed";
            nav.style.top = "0";
        }
        else {
            nav.style.position="static";
            nav.style.top = "-15%";
        }
    }    
    function moveDirectory(src,name){
        var input=prompt('Distanation file to',src);
        input?window.location.replace('{{host}}/file/movedir'+src+'+'+input+"?name="+name):null;   
    }
    function hide(handler){
        handler.children[3].style.transition="all 1s ease"
        handler.children[3].style.opacity=0        
    }
    function show(handler){
        handler.children[3].style.transition="all 1s ease"
        handler.children[3].style.opacity=1
    }
</script>
{% include "./blocks/header.html" %}
<div class="nav" id="navbar">
    {% if path != "" %}
        {% include "./blocks/back.html" %}
    {% endif %}
    {% include "./blocks/navbuttons.html" %}
</div>
<div class=content>    
    {% if dirs%}
        <details class=groupe open id=Directories>
            <summary>Directories ({{dirs|length }} <img src="{% static 'images/folder.png' %}" style="width:20px;" >)</summary>
            {% for i in dirs %}
                <div class="row ingroupe" onmouseover=show(this) onmouseout=hide(this)> 
                    <a href="{{host}}/file/explorer{{path}}/{{i.name}}" title="{{i.name}}" class=name>
                        <img src="{% static 'images/folder.png' %}" style="width:24px;" >
                        <span>{{i.name}}</span>
                    </a>
                    <span class=size></span>
                    <span class=time>{{i.date|date:"SHORT_DATE_FORMAT"}}</span>
                    <div class="panel">
                        <img src="{% static 'images/download.png' %}" onclick="window.location.replace('{{host}}/file/downloadfolder{{path}}/{{i.name}}')" title="Download" style="width:24px ;cursor: pointer">
                        <!--<img src="{% static 'images/move.png' %}" onclick="moveDirectory('{{path}}','{{i.name}}')" title="Movе folder" style="width:24px;cursor: pointer">-->
                        <img src="{% static 'images/delete.png' %}" onclick="confirmDeleteDir('{{path}}/{{i.name}}')" title="Delete" style="width:24px;cursor: pointer">
                    </div>
                </div>
            {% endfor%}
        </details>
    {% endif %}
    {% if files%}
        {% for i1 in files.groups%}
            {% if i1.list %}
                <details class=groupe open id="{{i1.name}}">
                    <summary>{{i1.name}} ({{i1.list|length}}  <img src={% static i1.icon %} style="width:20px;" >)</summary>
                    {% for i in i1.list %}
                        <div class="row ingroupe" onmouseover=show(this) onmouseout=hide(this)>
                            <a href='{{host}}/file/view{{path}}/{{i.name}}' class=name>
                                <img src="{% static i1.icon %}" style="width:24px;" >
                                {{i.name}}
                            </a> 
                            <span class=size>{{i.size|filesizeformat}}</span>
                            <span class=time>{{i.date|date:"SHORT_DATE_FORMAT"}}</span>
                            <div class="panel">
                                <img src="{% static 'images/download.png' %}" onclick="window.location.replace('{{host}}/file/downloadfile{{path}}/{{i.name}}')" title="Download" style="width:24px;cursor: pointer">
                                <!--<img src="{% static 'images/copy.png' %}" title="Copy" style="width:24px;cursor: pointer">-->
                                <img src="{% static 'images/delete.png' %}" title="Delete" onclick="confirmDeleteFile('{{path}}/{{i.name}}','{{i1.name}}')" style="width:24px;cursor: pointer">
                            </div>
                        </div>
                    {% endfor%}
                </details>
            {% endif %}
        {% endfor %}
    {% endif %}
    <style>
            .groupitm{
                font-size: 17px;
                padding: 5px;
                background-color: white;
            }
            .groupitm:hover{
                cursor: pointer;
            }
            #groupcnt{
                margin-top: 5px;
                border: none;
                background-color: white;
            }
            panel{
                font-family:Dejavu Sans;
                position: fixed;
                width: 15%;
                bottom: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                font-size: 17px;
                background-color: #63cdda;
                padding: 20px;
            }
    </style>
    {% if files.list or dirs%}
        <panel>
            <b>Groups:</b>
            <select id=groupcnt size="6" onchange="window.location.replace('#'+this.selectedOptions[0].value);document.body.scrollTop-=60">
            {% if dirs%}
                <option value=Directories class=groupitm style="background:url('{% static 'images/folder.png' %}') no-repeat;background-size: 20px;padding-left: 22px;background-position: 0 1px;">Directories ({{dirs|length}})</option>
            {% endif %}
            {% for i1 in files.groups%}
                {% if i1.list %}
                    <option value={{i1.name}} class=groupitm style="background:url('{% static i1.icon %}') no-repeat;background-size: 20px;padding-left: 22px;background-position: 0 1px;">{{i1.name}} ({{i1.list|length}})</option>
                {% endif %}
            {% endfor %}
            </select>
        </panel>
    {% endif %}
</div>
{% include "./Modals/DeleteModal.html" %}
{% include "./Modals/TextInputModal.html" %}