








{%load staticfiles%}
{% load i18n %}
<title>HomeCloud File</title>
<link rel="icon" href="{% static 'File/images/icons/faviconFile.ico' %}" type="image/x-icon">
<link href="{% static 'File/styles/explorer.css' %}" rel="stylesheet" type="text/css" />

{% include "./blocks/header.html" %}
<div class="nav" id="navbar">
    {% if path|escape != "" %}
    {% include "./blocks/back.html" %}
    {% endif %}
    {% include "./blocks/navbuttons.html" %}
</div>

<script>
    function setFixed(){
        var nav=document.getElementById("navbar")
        var panel=document.getElementById("panelcnt")
        if ((document.body.scrollTop >= 25 || document.documentElement.scrollTop >= 25)  && screen.width > 1023){
            nav.style.position="fixed";
            nav.style.top = "0";
            panel.style.position="fixed";
            panel.style.top = "40px";
            panel.style.left="0";
            panel.style.bottom="0";
            panel.style.width="15%";
        }
        else {
            nav.style.position="static";
            panel.style.position="static";
            panel.style.width="auto";
        }
    }
    window.onload  = setFixed;
    window.onscroll = setFixed;

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    
    var CheckList = []

    function selectrow(row) {
        if (row.checked) {
            row.parentNode.parentNode.classList.add('checkedRow')
            CheckList[CheckList.length] = row;
        }
        else {
            row.parentNode.parentNode.classList.remove('checkedRow')
            CheckList.splice(CheckList.indexOf(row),1)
        }
        fileCount.innerText = "{% trans 'Selected:' %} " + CheckList.length +" {% trans 'files' %}."
        if (CheckList.length == 0)
            checkedPanel.style.display = "none";
        else
            checkedPanel.style.display = "flex";
    }
    function deselectrow() {
        CheckList.forEach(function (item) {
            item.checked = false;
            item.parentNode.parentNode.classList.remove('checkedRow')
        });
        checkedPanel.style.display = "none";
        CheckList=[]
    }
    function Download() {
        data = []
        CheckList.forEach(function (item) {
            data[data.length] = item.id
        });
        document.location.replace("{{ host| escape }}/file/download{{ path| escape }}+" + JSON.stringify(data))
    }
</script>


<div class=frame>
    {% include "./blocks/panel.html" %}
    <div class=content>
        {% if dirs%}
        <div class=groupe id=Folders>
            <span class=bigspan>Folders ({{dirs|length|escape}} <img src="{% static 'File/images/folder.png' %}">)</span>
            {% for i in dirs %}
            <div class="row">
                <div class="check">
                    <input onclick="selectrow(this)" type="checkbox" id="{{i.name|escape}}" />
                    <label for="{{i.name|escape}}"></label>
                </div>
                    <a href="{{host}}/file/explorer{{path|escape}}/{{i.name|escape}}" title="{{i.name|escape}}" class="name">
                        <img src="{% static 'File/images/folder.png' %}" style="width:24px;">
                        <span>{{i.name|escape}}</span>
                    </a>
                    <div class="middle">
                        <span>{{i.date|date:"SHORT_DATE_FORMAT"|escape}}</span>
                    </div> 
                
                <div class="panel">
                    <img src="{% static 'File/images/download.png' %}" onclick="window.location.replace('{{host|escape}}/file/downloadfolder{{path|escape}}/{{i.name|escape}}')" title="{% trans 'Download' %}">
                    <img src="{% static 'File/images/upload.png' %}" onclick="showUpModalP('{{path|escape}}/{{i.name|escape}}')" title="{% trans 'Upload' %}">
                    <img src="{% static 'File/images/move.png' %}" onclick="showMoveModalP('{{path|escape}}','{{i.name|escape}}')" title="{% trans 'Movе folder' %}">
                    <img src="{% static 'File/images/delete.png' %}" onclick="confirmDeleteDir('{{path|escape}}/{{i.name|escape}}')" title="{% trans 'Delete' %}" >
                </div>
            </div>
            {% endfor%}
        </div>
        {% endif %}
        {% if files%}
        {% for i1 in files.groups%}
        {% if i1.list %}
        <div class=groupe id="{{i1.name|escape}}">
            <span class=bigspan>{{i1.name|escape}} ({{i1.list|length|escape}}  <img src={% static i1.icon %}>)</span>
            {% for i in i1.list %}
            <div class="row ingroupe">
                <div class="check">
                    <input onclick="selectrow(this)" type="checkbox" id="{{i.name|escape}}" />
                    <label for="{{i.name|escape}}"></label>
                </div>
                        <a target="blank" href='{{host}}/file/view{{path|escape}}/{{i.name|urlencode|escape}}' class='name'>
                            {% if i.code   %}
                                <img src="{{i.code|escape}}" style="width: 30px;">
                            {% else %}
                                <img src="{% static i1.icon|escape %}" style="width:24px;">
                            {% endif %}
                            <span>{{i.name| safe|escape }}</span>
                        </a>
                        <div class="middle">
                            <span>{{i.size|filesizeformat|escape}}</span>
                            <span>{{i.date|date:"SHORT_DATE_FORMAT"|escape}}</span>
                        </div>           
                <div class="panel">
                    <img src="{% static 'File/images/download.png' %}" onclick="window.location.replace('{{host|escape}}/file/downloadfile{{path|escape}}/{{i.name|escape}}')" title="{% trans 'Download' %}" style="width:24px;cursor: pointer">
                    <img src="{% static 'File/images/shere.png' %}" onclick="window.location.replace('{{host|escape}}/file/public/sharing{{path|escape}}/{{i.name|escape}}')" title="{% trans 'Share' %}" style="width:24px;cursor: pointer">
                    <!--<img src="{% static 'File/images/copy.png' %}" title="Copy" style="width:24px;cursor: pointer">-->
                    <img src="{% static 'File/images/delete.png' %}" title="{% trans 'Delete' %}" onclick="confirmDeleteFile('{{path|escape}}/{{i.name|escape}}','{{i1.name|escape}}')" style="width:24px;cursor: pointer">
                </div>
            </div>
            {% endfor%}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    
    <div id="checkedPanel">
        <span onclick="deselectrow()" id="CHPanelClr">X</span>
        <span id="fileCount"></span>
        <span class="btnChPnl" onclick="Download()">{% trans 'Download' %}</span>
        <span class="btnChPnl" onclick="confirmMDFile(CheckList)">{% trans 'Delete' %}</span>
    </div>
    
</div>


{% include "./Modals/DeleteModal.html" %}
{% include "./Modals/MultiDeleteModal.html" %}
{% include "./Modals/FileModal.html" %}
{% include "./Modals/MoveModal.html" %}
{% include "./Modals/TextInputModal.html" %}
{% include "Lite/LiteDirectory.html"%}