<title>{{filename}}</title>

{%load staticfiles%}

<link rel="icon" href="{% static 'images/icons/faviconFile.ico' %}" type="image/x-icon">

<!--content-->
<style>
    .content{
        grid-area:content;
        margin:5px;
        margin-left: 10px;
    }
    body{
        margin: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "headeres"
            "back"
            "content";
        font-family: Dejavu Sans; 
    }
    .preview{
        word-wrap: break-word;
        overflow-wrap: break-word; 
    }

</style>

{% include "./blocks/header.html" %}

{% include "./blocks/back.html" %}
<div class="content">
    {% include "./blocks/FileViewContent.html" %}
    <center>
        <h2>{{filename}}</h2>
    </center>
    <pre class=preview>{{text}}</pre>
</div>  