header{
    grid-area: headeres;
    display: grid;
    grid-template-columns: 290px auto;
    grid-template-areas: 
        "logo paths"
        "logo nav";
    background-color: #63cdda;
    grid-column-gap: 25px;
}
.path{
    font-family: 'Ubuntu', sans-serif;

    grid-area:paths;
    padding: 10px;
    font-size: 150%;
    border-bottom: 1px solid lightgray;
    word-break: break-all;
}
.path span{
    font-size: 50%;
    color: #fff;
    font-weight: bold
}
.path a{
    margin-left: -2px;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease;
}
.path a:hover{
    border-radius: 2px;
    background-color: white;
}
.logo{
    grid-area:logo;
    color: black;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 140%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.logo a{
    text-decoration: none;
    color: #000;
}
.logo h1{
    margin-top: 0;
    margin-bottom: 0;
}
.logo h4{
    font-size: 60%;
    margin: 0;
    margin-left: 2px;
    margin-top: -5px;
    color: #777777
}