.navBtn {
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    transition-property: width;
    transition-duration: .2s,.2s;
    background-color: #63cdda;
    border-right: gray 1px solid;
}
.navBtn:hover {
    width: 220px;
    max-width: 220px;
    transition-property: width;
    transition-duration: 0.2s;
    background-color: white;
}

.navBtn:hover > .navBtn_text {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}


.navBtn_text {
    padding-left: 7px;
    padding-right: 3px;
    margin-top: 2px;
    opacity: 0;
}
.navBtn_text span {
    color: black;
    font-size: 20px;
}
.navBtn_img{
    height: 25px
}

@media (max-width: 1024px){
    .navBtn {
        width: 100%;
        height: 70px;
        padding: 10px;
        margin: 0;
        
        align-items: center;
        justify-content: flex-start;
        border-right: none;
    }
    .navBtn:hover {
        width: 100%;
        max-width: 100%;
        transition-property: none;
        transition-duration: none;
    }    
    
    .navBtn_text {
        padding-left: 20px;
        padding-right: 3px;
        margin-top: 2px;
        opacity: 1;
    }
    .navBtn_text span {
        font-size: 140%;
    }
    .navBtn_img{
        height: auto;
        width:  40px;
    }
}