panel{
    font-family: 'Ubuntu', sans-serif;
    grid-area: panel;
    font-size: 18px;
    background-color: #63cdda;
    min-height: 100%;        
}
#panelcnt{
    padding-top: 20px;
    background-color: #63cdda;
    display: flex;
    flex-direction: column;
}
#panelcnt>div{
    display: flex;
    flex-direction: column;
}
#panelcnt a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    transition: all 0.5s ease;
}
#panelcnt a:hover{
    background-color: white;
}
#freesize{
    width: 90%;
    margin-top: 5px;
}

.w3-light-grey{
    color: #000 !important;
    background-color: #f1f1f1 !important
}
.w3-center {
    text-align: center !important;
    display:block;
    width: 100%
}

@media (max-width: 1024px){
    panel{
        display:flex;
        flex-direction: column;
        font-size: 25px;
        min-height: auto;        
    }
    #panelcnt{
        font-size: 25px;
    }
    #panelcnt a{
        height: 70px;
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #panelcnt a>img{
        width: 35px!important;
        margin-right: 20px;
    }
    
    #panelcnt>b{
        text-align: center;
        cursor: pointer;
        background-color: white;
        padding: 15px;
        border-top: gray 3px solid;
        border-bottom:  gray 3px solid;
    }
    #panelcnt>b:hover{
        background-color: #63cdda;
    }
    #panelcnt>div{
        margin: 0!important;
        transition: all 0.5s ease;
    }
    #panelcnt>div:last-child{
        margin: 0!important;
        display: none!important;
    }

    #freesize{
        width: 100%;
        margin-top: 5px;
    }  
    
}
.hideAccord{
    display: none!important;
}
.ShowAccord{
    display: flex!important;
}